# path/to/project/root/.eslintignore
# /node_modules/* and /bower_components/* in the project root are ignored by default

# Ignore server files
src/contexts/PlayerContext/index.tsx
src/components/PrivateRoute.tsx
src/serviceWorker.ts